*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;

  
}
.bg>div{
    background-size: contain;
    background-repeat: no-repeat;
    width:200px;
    height: 100vh;
    position: absolute;
    margin-top: -2rem;
}
#heading{
    text-align: center;

    color:white;
    z-index:1;
    position: absolute;
    margin-top: -72rem;
    margin-left: 38rem;
    display:block;
    width:200%;
}
#box{
    width:650px;
    height:450px;
    padding:20px;
    margin:100px auto;
    box-shadow:0px 0px 10px 2px grey;
    border:10px solid ghostwhite;
    position: absolute;
    margin-left: 32rem;
    margin-top: -67rem;
    background-color: white;
    border-radius: 2%;
  
}


.progressbar{
    position:absolute;
    background-color:red;
    height:2%;
    width:0%;
    top:0;
    left:0;
    margin-top: -0.2rem;
    margin-left: -0.1rem;
    padding:0.24rem;
    transform: 0.3s;

}
.subheading{
    text-align: center;
    margin-top: -1.5rem;
    color:red;
    font-size: 0.9rem;
}
.s2heading{
    text-align: center;
    margin-top: -1rem;
    color:grey;

}
.s3heading{
    color: grey;
}
#textbox{
    margin-top:-0.7rem;
    margin-left: -1.rem;
    display:block;
    width:40%;
   
}
#radio1{
    background-color:lightgrey;
    width:40%;
    position: absolute;
    margin-top: -1rem;
    padding:0.5rem;
    border-radius: 0.5rem;
}
#radio2{
    background-color:lightgrey;
    width:44%;
    position: relative;
    margin-top: -1rem;
    margin-left: 20rem;
    padding:0.5rem;
    border-radius: 0.5rem;
   
}
.bback{
    text-align: center;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    background-color: red;
    color:white;
    display:flex;
    position: absolute;
    height:3rem;
    width:10rem;
    cursor: pointer;
    margin-top:3.5rem;
    margin-left: 14rem;

}
.arr{
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:6px solid white;
    margin-left: -4rem;

}

.arr-rotate{
    transform: rotate(100deg);
}

